{% extends 'chat/base.html' %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}
<div class = "frontpage3">
    <div>
        <h1>{{ room.name }}</h1>
        {% for result in getAllUsers %}
            <p>{{result.username}}</p>
        {% endfor %}
    </div>

    <div id="chat-messages">
        <h1 style="margin-left: 5px;">This is the beginning of the #{{ room.name }} channel!</h1>
        <h4 style="color: white; margin-left: 10px; margin-top: -15px;">Say something, Don't be shy!</h4><hr>
        {% for m in messages %}
            <div class = "message-and-username" style="padding:10px; margin: auto; color: white;"><b style="font-size: 20px;">{{ m.user.username }} </b><b style="font-size:12px;">{{ m.date_added }}</b><br><b style="font-size: 22px; font-weight: normal;">{{ m.content }}</b><br></div>
        {% endfor %}
    </div>
   
    <div>
        <form method="post" action="." class = "send-message-form">
            {% csrf_token %}
            <div class = "input-wrapper">
                <input type="text" name="content" placeholder="Message {{ room.name }}..." id="chat-message-input" size = "30">
                <button id="chat-message-submit">Send</button>
            </div>
        </form>
        
    </div>
</div>

{{ variable|json_script:'date_added' }}

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);

    var js_variable = JSON.parse(document.getElementById('date_added').textContent);

    // Creating a new WebSocket object:
    const chatSocket = new WebSocket(
        `wss://${window.location.host}/ws/${roomName}/`
    );

    chatSocket.onopen = function (event) {
        console.log('connected');
    };

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    // Function which parses the data, aka the message content and if content != 0, we generate the HTML neccessary to display the newly typed message and activate the function to scroll to the bottom of that message element:
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        content=data.message;

        console.log(data);

        if (content.length !== 0) {
            document.querySelector('#chat-messages').innerHTML += ('<div class = "message-and-username" style="padding:10px; margin:auto; color: white;"><b style="font-size: 20px;">' + data.username + '</b><b style="font-size:12px;">' + data.date_added + '</b><br><b style="font-size: 22px; font-weight: normal;">' + data.message + '</b><br></div>');
        } else {
            alert('Empty message. Please try again.');
        }
        scrollToBottom();
    };

    // Making it that if the user clicks enter, the message is also sent (simulating clicking the 'Send' button):
    /*document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };*/

    function isOpen(ws) { return ws.readyState === ws.OPEN }

    // Function which grabs content from '#chat-message-input', reads its value, prints it out in the console (whenever a new message is sent), and sends it in JSON format to the socket. Afterwards, the value gets reset to '':
    document.querySelector('#chat-message-submit').onclick = function(e) {
        if(!isOpen(chatSocket)) return;
        e.preventDefault()  // Preventing csrf token error

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        console.log({
            'message': message,
            'username': userName,
            'room': roomName
        })

        chatSocket.send(JSON.stringify({
        'message': message,
        'username': userName,
        'room': roomName,
        'date_added': date_added
        }));
    
        messageInputDom.value = '';

        return false;
    };

   // Function which grabs the messages element, and scrolls to the bottom of it (making it easier to view all the messages after the user has sent one of his own):
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Triggering the function:
    scrollToBottom();
</script>
{% endblock %}